ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.data{
  width: 20%;
  border: 1px solid red;
  margin-top: 20px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 16px 20px 0 rgba(0,0,0,0.2);
}
p{
  color: blue
}
span{
  color: black;
}